<div class="center">
  <section id="content">
    <h1 class="subheader">Crear artículo</h1>
    <form class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Titulo</label>
        <input type="text" name="title" id="title" #title="ngModel" [(ngModel)]="article.title" required>
        <small *ngIf="!title.valid && title.touched">
          El titulo es requerido
        </small>
      </div>

      <div class="form-group">
        <label for="content">Contenido</label>
        <textarea name="content" id="content" #content="ngModel" [(ngModel)]="article.content" required></textarea>
        <small *ngIf="!content.valid && content.touched">
          El contenido es requerida
        </small>
      </div>

      <div class="form-group">
        <label for="imgage">Imagen</label>
        <input type="file" name="file0" id="imgage">
      </div>
      
      <div class="clearfix"></div>

      <input type="submit" value="Crear" class="btn btn-success" [disabled]="articleForm.invalid" />
    </form>
  </section>
  <app-sidebar></app-sidebar>
</div>
