<app-slider [nombre]="'Peliculas'"></app-slider>
<div class="center">
  <section id="content">
    <h2 class="subheader">Listado de peliculas</h2>
    <div id="articles" *ngIf="peliculas.length > 0">
      <article class="article-item" id="article-template_{{i}}" *ngFor="let pelicula of peliculas; let i = index">
        <div class="image-wrap">
          <img src="{{pelicula.image}}" alt="{{pelicula.title}}" />
        </div>
        <h2>{{pelicula.title}}</h2>
        <span class="date">
          Hace 5 minutos
        </span>
        <span class="year" [ngClass]="{ 'year-green': pelicula.year > 2020, 'year-red': pelicula.year <= 2020 }">
          {{pelicula.year}}
        </span>
        <a href="#">Leer más</a>
        <div class="clearfix"></div>
      </article>
    </div>
  </section>
  <app-sidebar></app-sidebar>
</div>